<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">Dace Moments</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>
    <th:block th:include="fragments/layout :: layout"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{'../css/login.css' }"/>
</head>
<body>

<div class="site">
    <div id="menu">
        <ul id="meniu">
            <li><a href="#" th:href="@{/}" class="btnMeniu btnHover">Acasa</a></li>
            <li><a href="#" th:href="@{/allevents}" class="btnMeniu btnHover" >Evenimente</a></li>
        </ul>
    </div>
    <div class="continut">
        <th:block th:include="fragments/carousel"></th:block>
        <div class="site">
            <h3>&nbsp;&nbsp; Dance Moments este o pagina de evenimente culturare de dans contemporan dedicata publicului larg.</h3>
            <h3>&nbsp;&nbsp; Fiecare eveniment este un motiv de relaxare si socializare ce te detaseaza de grijile vietii cotidiene</h3>
        </div>
        <br/> <br/>
    </div>
</div>

</body>
<th:block th:include="fragments/layout :: footer"></th:block>
</html>