<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Persons</title>

    <th:block th:include="fragments/headerinc :: head"></th:block>
    <th:block th:include="fragments/layout :: layout"></th:block>
</head>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#events').DataTable();
    } );
</script>
<body>
<div class="site">
    <div id="menu">
<th:block th:include="fragments/personheader :: header"></th:block>
    </div>
    <div class="continut">
        <div class="site">
    <th:block th:include="fragments/carousel"></th:block>
    <div th:if="${not #lists.isEmpty(persons)}">
        <h2>Person List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Person Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="person : ${persons}">
                <td th:text="${person.username}"><a href="/person/${person.id}">Id</a></td>
                <td th:text="${person.fullName}">Person Id</td>
                <td th:text="${person.email}">descirption</td>
                <td th:text="${person.password}">price</td>
                <td><a th:href="${ '/person/' + person.id}">View</a></td>
                <td><a th:href="${'/person/edit/' + person.id}">Edit</a></td>
                <td><a th:href="${'/person/delete/' + person.id}">Delete</a></td>
            </tr>
        </table>

    </div>
        </div>
    </div>
</div>

</body>

<th:block th:include="fragments/layout :: footer"></th:block>
</html>